body {
    background: url('../images/mohammad-metri-1oKxSKSOowE-unsplash.jpg')no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.main{
    background-color: rgb(57, 68, 68, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    margin: 100px;
    height: 320px;
    width: 320px;
    border-radius: 170px;
}

.timer-hse{
    background-color: rgb(20, 19, 19, 0.5);
    color: rgba(250, 244, 244, 0.5);
    height: 200px;
    width: 200px;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin-bottom: 10px;
}

.play-btn{
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    border-color: green;
    color: green;
}

.play-btn:hover{
    background-color: green;
    color: white;
}

.pause-btn{
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    border-color: rgb(135, 128, 236);
    color: rgb(16, 108, 245);
}

.pause-btn:hover{
    background-color: rgb(135, 128, 236);
    color: white;
}

.reset-btn{
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    border-color: red;
    color: red;
}

.reset-btn:hover{
    background-color: red;
    color: white;

}

.name1{
    color: rgb(247, 243, 243, 0.5);
}

